body {
    background: #f8f8f8;
}

.container {
    margin: 0 auto;
    width: 800px;
}
.content{
    clear: both;
}

.header {
    background-color: #eaeaea;
    height: 100px;
}
.header div{
    display: block;
    clear: both;
}

.art_other_part{
    clear: both;
}

.logo{
    background-image: url(../img/logo.jpg);
    width: 45px;
    height: 30px;
    display: block;
    float: left;
}

.content {
    background-color: #E1E0E1;
}

.footer {
    background-color: #eaeaea;
    height: 100px;
    text-align: right;
}
.footer p{
    padding-right: 15px;
    padding-top: 15px;
}

.menu{
    text-align: right;
    height: 30px;
}
.menu li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.menu li:hover{
    background-color: #484343;
}

.art_content p::first-letter {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #02b;
}

footer {
    background: #eaeaea;
}

.menu li {
    display: inline;
    border-right: 1px solid #024;
    text-align: center;
}

.menu li:last-child {
    border-right: none;
}

.menu a {
    color: #226;
    font-family: sans-serif;
    text-decoration: none;
    width: 120px;
}

.menu a:hover {
    color: #FC3C00;
    font-family: sans-serif;
    text-decoration: none;
    width: 120px;
}

.art_header_desc {
    background: #eaeaea;
    font: 18px black;
    font-weight: 400;
}

.short_art_desc {
    font: 14px #707070;
    font-style: italic;
    line-height: 16px;
    display: block;
}

.full_art_desc {
    font: 16px #484343;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.charachter_art li {
    list-style: lower-alpha;
    font: 12px #484343;
}

.feedback_form input[type=text],
input[type=email] {
    height: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    padding: 12px 20px;
    margin: 5px 0;
    color: #024;
    font-size: 14px;
}

.feedback_form input::first-letter {
    text-transform: uppercase;
}


.feedback_form textarea {
    width: 100%;
    box-sizing: border-box;
    height: 150px;
    resize: none;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 12px 20px;
    margin: 5px 0;
    color: #024;
    font-size: 12px;
}

.feedback_form input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.button_buy{
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
}

.button_buy:hover{
    background-color: #518552;
    padding: 1px;
}

.art_link_name{
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}


.art_image {
    outline: #024 solid 1px;
    display: block;
    width: 375px;
    float: left;
}

.art_image:hover {
    outline: none;
}

::-webkit-input-placeholder {
    color: gray;
    background-color: #f8f8f8;
}

::-moz-placeholder {
    color: gray;
    background-color: #f8f8f8;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: gray;
    background-color: #f8f8f8;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: gray;
    background-color: #f8f8f8;
}